@model IEnumerable<MvcTest.Models.Subject>

<style>
    .insufficient {
        background-color: red;
    }

    .suficient {
        background-color: dimgray;
    }

    .suficient-plus {
        background-color: burlywood;
    }

    .average {
        background-color: cadetblue;
    }

    .better-average {
        background-color: lawngreen;
    }

    .excellent {
        background-color: forestgreen;
    }

    .select-subject {
        background-color: lightcoral;
    }
</style>

<h2>Subjects</h2>
<div ng-controller="SubjectsController">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="subjectsTable">
        <tr>
            <th>
                Subject
            </th>
            <th>
                Teacher
            </th>
            <th>
                Course
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)

        {
            <tr>
                <td ng-click="currentSubjectID = '@Html.DisplayFor(modelItem => item.Id)'">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }

    </table>
